    <!-- for confluence, head/body tags interfere -->
    <!-- john changed this on 14 Dec -->
    <title>{{name}}</title>

    <script type="text/javascript" src="{{{server}}}/apps/{{{sdk}}}/sdk.js?apiKey=PUT_API_KEY_HERE %>"></script>
    {{#remote_javascript_files}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/remote_javascript_files}}

<!-- for confluence, don't render as a viewport, so we override the app creation step -->

    <script type="text/javascript">
        Ext.override(Rally.sdk.Bootstrapper,{
            _launchAppInViewport: function (className, settings, timeboxScope) {
                console.log('_launchAppInViewport');
                this._wireIoHeaderHandlers();
                this.app = this._createApp(className, settings, timeboxScope);

                Ext.create('Ext.container.Container', {
                    layout: 'fit',
                    items: [ this.app ],
                    renderTo: 'target_div',
                    height: 800,
                    width: 800
                });
            }
        });

    </script>

    <script type="text/javascript">
        Rally.onReady(function () {
            {{#javascript_files}}
                {{{.}}}
            {{/javascript_files}}
            Rally.launchApp('{{className}}', {
                name:"{{name}}",
	            parentRepos:"{{{parents}}}"
            });
        });
    </script>

    {{#remote_css_files}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}"/>
    {{/remote_css_files}}

    {{#css_files}}
    <style type="text/css">
        {{{.}}}
    </style>
    {{/css_files}}

<div id="target_div"></div>
